.body, div, p, span {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

blockquote {
    font-style: italic;
}

a {
    color: #DC863C;
}

.slab {
    font-family: 'Roboto Slab', serif;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.white {
    color: white;
}

.huge-digit, .huge-digit-3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 400%;
}

.huge-digit-3 {
    font-size: 1000%;
}

.bordered {
    border: 2px solid white;
    padding: 10px;
}

.digit-page-marker {
    margin-bottom: 0;
    border-top: 2px dotted white;
}

.pi-band {
    background-color: white;
    color: black;
    padding: 20px;
}

.pi-bigger {
    font-size: 150%;
}

.restlet-bg-dark, body {
    background-color: #2D4047;
    color: white;
}

.restlet-bg-dark h1 {
    color: white;
}

.restlet-bg-grey {
    background-color: #4E5C73;
    color: white;
}

.restlet-bg-blue {
    background-color: #71A3D6;
    color: white;
}

.restlet-bg-orange {
    background-color: #DC863C;
    color: black;
}

.restlet-bg-yellow {
    background-color: #E9B335;
    color: black;
}

.restlet-bg-green {
    background-color: #93BA78;
    color: black;
}

.restlet-dark {
    color: #2D4047;
}

.restlet-grey {
    color: #4E5C73;
}

.restlet-blue {
    color: #71A3D6;
}

.restlet-orange {
    color: #DC863C;
}

.restlet-yellow {
    color: #E9B335;
}

.restlet-green {
    color: #93BA78;
}
